
.l-grid {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-left: -1rem;
}

.l-grid__item {
    flex-basis: auto;
    padding-left: 1rem;
}

.l-grid__item--4-col {
    width: 33.3%;
}

.l-grid__item--3-col {
    width: 25%;
}

/* Vertical Gutter */
.l-grid--gutter-vertical-large {
    margin-bottom: -60px;
}

.l-grid--gutter-vertical-large > .l-grid__item {
    margin-bottom: 60px;
}

/* Horizontal Gutter */

.l-grid--gutter-horizontal-large {
    margin-left: -60px;
}

.l-grid--gutter-horizontal-large > .l-grid__item {
    padding-left: 60px;
}


.l-grid--align-middle {
    align-items: center;
}

// Center
.l-grid--align-center {
    justify-content: center;
}

// Media Queries

@include bp(medium) {
    .l-grid__item--6-col-tablet {
        width: 50% !important;
    }
}

@include bp(small) {
    .l-grid__item--12-col-phone {
        width: 100% !important;
    }
}

